{% extends 'base.html' %}

{% block title %}
contact
{% endblock %}


{% block content %}

<h1 class="text-center">Contact Our Medical Center</h1>
<div class="container w-300 text-center p-5  my-10 bg-info">
        
    

    <section>
        <h2>Contact Information</h2>
        <p>For inquiries and assistance, please reach out to us:</p>
        <ul>
            <li>Email: your@email.com</li>
            <li>Phone: +123456789</li>
            <!-- Add more contact information as needed -->
        </ul>
    </section>

    <footer>
        <p>Visit us at: Your Medical Center, Address, City</p>
    </footer>
    </div>
    {% endblock %}
</body>
</html>
